.client-item {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    padding: 30px 35px 50px 35px;
}

.client-item:hover {
    transform: scale(1.1);
    border: solid 2px rgb(231, 173, 72);
}


/* .client-item__image{

} */

.client-item__quote {
    font-family: 'Brandon Grotesqu';
    font-size: 30px;
    position: relative;
}

.client-item__quote:first-child {
    top: 30px
}

.client-item__quote:last-child {
    line-height: 1px;
    left: 30px;
}

.client-item__text {
    font-size: 13px;
    margin: 0 0 25px 30px;
    line-height: 22px;
}

.client-item__name,
.client-item__profession {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Lato";
    color: rgb(246, 119, 44);
}

.client-item__name {
    margin-left: 30px;
}

.client-item__profession {
    color: #99a9ae;
}

.client-item__review {
    text-align: start;
    color: rgb(123, 123, 123);
}